<div class="jumbotron-fluid text-center five" id="five">
    <br>
    <div class="mx-auto p-1 btn-danger text-white text-center" style="width: 200px; height: 40px; margin-bottom: 15px; font-size: 20px;line-height: 30px; font-weight: bolder; border-radius: 30px;">
        <a style="color:white;text-decoration: none;" href="#eight">
            <h4>Đăng Ký Ngay</h4>
        </a>
    </div>
    <div class="container">
        <h1 class="centered" style="color: #0f355c;">ĐỘI NGŨ MENTOR</h1>
        <br>
        <div class="carousel mb-5" data-flickity='{ "freeScroll": true, "wrapAround": true }'>
            <div class="carousel-cell">
                <img class="img-fluid" src="./assets/img/team.png" alt="...">
                <h3>Nguyễn Quyết</h3>
                <p>Chuyên Gia Công Nghệ thông tin</p>
            </div>
            <div class="carousel-cell">
                <img class="img-fluid" src="./assets/img/team2.png" alt="...">
                <h3>Trần Xuân Khôi</h3>
                <p>Chuyên Gia Công Nghệ thông tin <br> hàng đầu việt nam</p>
            </div>
            <div class="carousel-cell">
                <img class="img-fluid" src="./assets/img/team3.png" alt="...">
                <h3>Nguyễn Ngọc Duy</h3>
                <p>Chuyên Gia Java Web</p>
            </div>

            <div class="carousel-cell">
                <img class="img-fluid" src="./assets/img/mentor/2.jpg" alt="...">
                <h3>Lê Đại Pháp</h3>
                <p>PM tại VTI Việt Nam</p>
            </div>
            <div class="carousel-cell">
                <img class="img-fluid" src="./assets/img/mentor/3.jpg" alt="...">
                <h3>Nguyễn Duy Tuấn</h3>
                <p>PM tại VTI Việt Nam</p>
            </div>
            <div class="carousel-cell">
                <img class="img-fluid" src="./assets/img/mentor/4.jpg" alt="...">
                <h3>Nguyễn Đức Cường</h3>
                <p>Chuyên Gia Công Nghệ thông tin</p>
            </div>
            <div class="carousel-cell">
                <img class="img-fluid" src="./assets/img/mentor/5.jpg" alt="...">
                <h3>Nguyễn Anh Nhật Linh</h3>
                <p>Chuyên Gia Lập Trình ASP.Net</p>
            </div>
        </div>
    </div>

</div>
