.two {
    background: #ffffff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #ffffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #ffffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron-fluid {
    margin-top: 50px;
    margin-bottom: 30px;
}

li.list-group-item {
    padding-bottom: 5px;
    font-size: 17px;
    padding-right: 25px!important;
    padding-top: 0px;
}

ul li {
    text-align: left;
}


/* ul {
    list-style: none;
} */

iframe {
    height: auto;
}

em {
    color: #315271;
    font-style: normal;
}

h2 {
    margin-right: 40px!important;
    color: #315271;
    font-weight: bolder;
    font-size: 24px;
    padding-bottom: 10px;
}

li {
    color: #315271;
    font-size: 16px;
}

@media only screen and (width: 414px) {
    h2 {
        padding-left: 20px;
        padding-top: 10px;
        font-size: 14px;
    }
    li.list-group-item {
        font-size: 10px;
    }
}

@media only screen and (width: 375px) {
    h2 {
        padding-left: 20px;
        padding-top: 10px;
        font-size: 14px;
    }
    li.list-group-item {
        font-size: 10px;
    }
}

@media only screen and (width: 600px) {
    h2 {
        font-size: 14px;
    }
    li.list-group-item {
        font-size: 10px;
    }
}

@media only screen and (width: 768px) {
    h2 {
        font-size: 16px;
    }
    li.list-group-item {
        font-size: 12px;
    }
}

@media only screen and (width: 1024px) {
    h2 {
        font-size: 18px;
    }
    li.list-group-item {
        font-size: 14px;
    }
}


/* ul li::before {
    content: "\2022";
    color: rgb(255, 217, 0);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
} */


/* @media only screen and (min-width: 641px) {
    ul li:nth-child(4n) {
        margin-right: 0;
    }
}

@media only screen and (width: 640px) and (min-width: 481px) {
    ul li {
        margin-right: 1%;
        width: 32.6666%;
    }
    ul li:nth-child(3n) {
        margin-right: 0;
    }
}

@media only screen and (width: 480px) {
    ul li {
        margin-right: 2%;
        width: 49%;
    }
    ul li:nth-child(2n) {
        margin-right: 0;
    }
} */
