<div class="jumbotron-fluid text-center two" id="two">
    <div class="container">
        <div class="row">

            <div class="col-sm-5">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/6WJw2UlluYE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
            </div>
            <div class="col-sm-7">
                <h2>HOÀN THÀNH KHÓA ĐÀO TẠO <em style=" color: #315271;
                font-style: normal;font-weight: bolder;">PHP</em> BẠN SẼ </h2>
                <ul class="list-group list-group-flush float-left">

                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#315271;">&nbsp;</i>&nbsp;Làm chủ kiến thức về lập trình web với PHP cơ bản, PHP nâng cao.</li>
                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#315271;">&nbsp;</i>&nbsp;Tạo lập và truy vấn dễ dàng cơ sở dữ liệu quan hệ MySQL</li>
                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#315271;">&nbsp;</i>&nbsp;Phát triển các ứng dụng web trên nền tảng ngôn ngữ PHP</li>
                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#315271;">&nbsp;</i>&nbsp;Linh hoạt sử dụng các cấu trúc dữ liệu phù hợp trong các tình huống cụ thể</li>
                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#315271;">&nbsp;</i>&nbsp;Triển khai thành thạo ứng dụng web sử dụng Framework Laravel</li>
                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#315271;">&nbsp;</i>&nbsp;Giàu kinh nghiệm trong các dự án thực tế tại các doanh nghiệp</li>
                </ul>
                <!-- <ul class="list-group">
                  <li class="list-group-item active">Hoàn thành khóa học bạn sẽ nhận được</li>
                  <li >Trở Thành Lập Trình Viên Chuyên Nghiệp Full - Stack</li>
                  <li >Sử Dụng Thành Thạo Ngôn Ngữ JavaScript và Java</li>
                  <li >Xây Dựng và thao tác thành thạo tạo cơ sở dữ liệu</li>
                  <li >Sử dụng được các công cụ lập trình phần mềm hiện đại </li>
                  <li >Tham gia tốt vào nhóm phát triển phần mềm agile </li>
                  <li >Giàu kinh nghiệm thực tế trong các dự án thật tại doanh nghiệp</li>
              </ul> -->
            </div>
        </div>
    </div>
    <br>

</div>
