<div id="gioithieukhoahoc" style="padding-bottom: 20px;">
    <div>
        <br>
        <div class="mx-auto p-1 btn-danger text-white text-center" style="width: 200px; height: 40px; margin-bottom: 15px; font-size: 20px;line-height: 30px; font-weight: bolder; border-radius: 30px;">
            <a style="color:white;text-decoration: none;" href="#eight">
                <h4>Đăng Ký Ngay</h4>
            </a>
        </div>
        <p style=" letter-spacing: 1px;text-align: center;color:#0f355c;font-weight: bolder;font-size:xx-large;">AI CÓ THỂ THEO HỌC KHÓA LẬP TRÌNH CỦA VTI ACADEMY</p>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="row" style="border-right: 2px solid #315271; text-align: center;padding-bottom: 10px;"><i class='fas fa-user-graduate' style='font-size:30px;color:#0f355c'></i></th>
                    <th scope="row" style="  line-height: 20px!important;padding-bottom: 20px; padding-left:12px;font-size: 20px;">Bạn đang là sinh viên ngành CNTT</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" style="border-right: 2px solid #315271;text-align: center;"><i class='fas fa-thumbs-up' style='font-size:30px;color:#0f355c'></i></th>

                    <td>Bạn muốn học thêm một ngành tay trái</td>

                </tr>
                <tr>
                    <th scope="row" style="border-right: 2px solid #315271;text-align: center;"><i class='fas fa-share' style='font-size:30px;color:#0f355c'></i></th>
                    <td>Bạn muốn chuyển ngành học sang CNTT</td>

                </tr>
                <tr>
                    <th scope="row" style="border-right: 2px solid #315271;text-align: center;"><i class="fa fa-money" style="font-size:30px;color:#0f355c"></i></th>
                    <td colspan="2">Bạn đã đi làm và mong muốn đổi nghề để có thu nhập tốt</td>

                </tr>
                <tr>
                    <th scope="row" style="border-right: 2px solid #315271;text-align: center;"><i class='fas fa-user-cog' style='font-size:30px;color:#0f355c'></i></th>
                    <td colspan="2">Bạn chưa từng học IT nhưng có niềm đam mê công nghệ</td>

                </tr>

            </tbody>
        </table>
    </div>


</div>
