<div class="jumbotron-fluid text-center four" style="background-image: url('https://cdn.dribbble.com/users/2639810/screenshots/11471430/media/cf097aeabc8eeb629c0d8e6f3269668a.jpg');" id="four">
    <div>
        <br>
        <br>
        <h2 style="color: yellow;text-align: center;text-shadow: black 0.1em 0.1em 0.2em ">KHUNG CHƯƠNG TRÌNH</h2>
        <div class="container-fluid mt-5" style="background-color: #d5ebff;height: 120px; text-align:center;">
            <br>
            <div class="container">
                <div data-html="true" class="tool-tip" data-tooltip-title="- Định hướng phát triển và cơ hội nghề nghiệp&#013;
            -Giới thiệu về kiến thức doanh nghiệp CNTT
            - Khung Chương Trình theo tiêu chuẩn doanh nghiệp" data-tooltip-position="bottom">
                    <button type="button" class="btn btn-default">Career <br>  Orientation</button>

                </div>
                <div class="tool-tip" data-tooltip-title="1.Định nghĩa về Data cơ bản, luồng điều khiển và thao tác cơ sở dữ liệu trong SQL
               - Hiểu được các khái niệm cơ bản về Database (DBMS,RDBMS, ERD)
               -Có thể đọc hiểu thiết kế Database,
               câu lệnh query SQL
               - Tránh được các lỗi thiết kế chung và áp dụng 1 vài tip để nâng cao hiệu năng của câu query SQL
               2. Câu lệnh DML nâng cao
               - UNION, CASE, JOIN, Sub Queriese và các tính năng mới của SQL Serve , My SQL
               - Thực hành viết câu lệnh SQL
               3. Lập trình SQL với stored procedures, functions, triggers
               4. Review các chủ đề đã học & Final Test" data-tooltip-position="bottom">
                    <button type="button" class="btn btn-default"> Database <br> System</button>

                </div>
                <div class="tool-tip" data-tooltip-title=" JAVA CORE
              1.Các kỹ thuật lập trình Java cơ bản
              Các kiểu dữ liệu, các luồng điều khiển (for, while, if else, switch case, break, continue), static
              2. OOP trong Java(4 tính chất OOP, các phạm vi truy cập, class, inner class, )
              3.Collection & generic
              4. Xử lí Exception & các class Utility
              5. Làm việc với File
              6. Kết nối với Database + Java Code Review
              7. Tìm hiểu về Maven
              8.Review các chủ đề đã học & Final Exam" data-tooltip-position="bottom">
                    <button type="button" class="btn btn-default">BackEnd <br> Basic</button>

                </div>
                <div class="tool-tip" data-tooltip-title="JAVA WEB
                  1. Servelet & JSP , MVC & JSP Models
                  Tìm hiểu Architecture của ServeLet và thiết kế website thông qua ServeLet & JSP
                  2. Spring MVC
                  Tối ưu website với Spring MVC
                  3.Spring Boot (JPA, Rest, API...)
                  Học sử dụng các framework thông dụng trong làm việc với SpringBoot và JPA Thiết kế Restful API Automated Unit Testing với Junit
                  5. Review các chủ đề đã học và Final Exam" data-tooltip-position="bottom">
                    <button type="button" class="btn btn-default">BackEnd <br>Advanced</button>

                </div>
                <div class="tool-tip" data-tooltip-title="1. Bạn sẽ thấy quá trình phát triển Web hoàn chỉnh từ dự án Bắt Đầu đến kết thúc ...
                2. HTML5, CSS3, JQuery, và bootstrap Framework
                3. Bạn sẽ học được các cách code mới và áp dụng các tips & tricks và thực hành để phát triển 1 website
                4. Bạn có thể xây dụng được trang web responsive phù hợp với tất cả các màn hình
                5. Bạn sẽ học về CSS3 Media Queriese áp dụng vào thiết kế responsive cho website
                6. Bạn sẽ hoàn thành Source Code cho responsive website.
                (-Xây dựng User Inter - Face trong dự án
                - Ứng dụng HTML5 , CSS3, JavaScript, Jquery, Ajax, vào tạo giao diện website
                - Áp dụng được framework để thực hiện thiết kế giao diện )" data-tooltip-position="bottom">
                    <button type="button" class="btn btn-default">FrontEnd <br> Basic</button>

                </div>
                <div class="tool-tip" data-tooltip-title="1. Tự tin nói về các khái niệm quan trọng trong angular
                2. Giải mã phỏng vấn về Angular
                3. Giải quyết các bug và issue phổ biến nhất trong các ứng dụng Angular
                4. Bảo mật các ứng dụng Angular bằng JWT Authentication
                5. Tạo Unit test cases cho các ứng dụng Angular
                6. Tạo ứng dụng Angular từ Scratch và phát triển ứng dụng
                7. Tạo Structure của ứng dụng Angular với inclus-try
                8. kết nối Angular với bất kỳ công nghệ phát triển Serve nào (ASP.net , Core MVC , NodeJS, Phython, Java etc),
                để trở thành 1 Full-stack developer và có thể có cơ hội để phát triển trong ngành IT
                9. Tạo Professonal Dashboard với ease
                (-Nâng cao kỹ năng mềm cần thiết
                -Có khả năng teamwork)" data-tooltip-position="bottom">
                    <button type="button" class="btn btn-default">FrontEnd <br>Advanced</button>

                </div>
                <div class="tool-tip" data-tooltip-title="- Phát triển dự án theo các mô hình ứng dụng Aglie/WaterFall
                - Tham gia các dự án  thực tế theo nhóm
                - Áp dụng thành thạo các  quy trình,template cơ bản  đạt chuẩn CMMI, ISO
                - Trực tiếp từng bước phát triển  dự án theo chuẩn quốc tế
                - Đáp ứng các yêu cầu khắt khe  của một sản phẩm thật sự
                - Bảo vệ dự án với sản phẩm thực tế với các PM  và phỏng vấn làm việc" data-tooltip-position="bottom">
                    <button type="button" class="btn btn-default">MOCK <br>
                      Project</button>

                </div>
            </div>
        </div>
        <br>


        <!-- <div class="container" style=" text-align: center;">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Career  Orientation
              </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">- Định hướng phát triển và cơ hội nghề nghiệp
                       -Giới thiệu về kiến thức doanh nghiệp CNTT
                      - Khung Chương Trình theo tiêu chuẩn doanh nghiệp</a>


                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Database  System
            </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">1.Định nghĩa về Data cơ bản, luồng điều khiển và thao tác cơ sở dữ liệu trong SQL
                           - Hiểu được các khái niệm cơ bản về Database(DBMS,RDBMS, ERD) -
                           Có thể đọc hiểu thiết kế Database,
                           câu lệnh query SQL - Tránh được các lỗi thiết kế chung và áp dụng 1 vài tip để nâng cao hiệu năng của câu query SQL
                           2. Câu lệnh DML nâng cao
                           - UNION, CASE, JOIN, Sub Queriese và các tính năng mới của SQL Serve , My SQL
                           - Thực hành viết câu lệnh SQL
                           3. Lập trình SQL với stored procedures, functions, triggers
                           4.Review các chủ đề đã học & Final Test</a>


                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Back-EndBasic
          </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><em style="color: blue;"> JAVA CORE</em>
                           1.Các kỹ thuật lập trình Java cơ bản
                           Các kiểu dữ liệu, các luồng điều khiển (for, while, if else, switch case, break, continue), static
                           2. OOP trong Java(4 tính chất OOP, các phạm vi truy cập, class, inner class, )
                           3.Collection & generic
                           4. Xử lí Exception & các class Utility
                           5. Làm việc với File
                           6. Kết nối với Database + Java Code Review
                           7. Tìm hiểu về Maven
                           8.Review các chủ đề đã học & Final Exam</a>


                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Back-EndAdvanced
        </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><em style=" color: blue; ">JAVA WEB</em>
                           1. Servelet & JSP , MVC & JSP Models
                           Tìm hiểu Architecture của ServeLet và thiết kế website thông qua ServeLet & JSP
                           2. Spring MVC
                           Tối ưu website với Spring MVC
                           3.Spring Boot (JPA, Rest, API...)
                           Học sử dụng các framework thông dụng trong làm việc với SpringBoot và JPA
                           Thiết kế Restful API
                           Automated Unit Testing với Junit
                           5. Review các chủ đề đã học và Final Exam</a>


                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Front-EndBasic
      </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">1. Bạn sẽ thấy quá trình phát triển Web hoàn chỉnh từ dự án Bắt Đầu đến kết thúc ...
                           2.HTML5, CSS3, JQuery, và bootstrap Framework
                           Bạn sẽ học được các cách code mới và áp dụng các tips & tricks và thực hành để phát triển 1 website
                           Bạn có thể xây dụng được trang web responsive phù hợp với tất cả các màn hình
                           5. Bạn sẽ học về CSS3 Media Queriese áp dụng vào thiết kế responsive cho website
                           Bạn sẽ hoàn thành Source Code cho responsive website.
                           (-Xây dựng User Inter - Face trong dự án
                           - Ứng dụng HTML5 , CSS3, JavaScript, Jquery, Ajax, vào tạo giao diện website
                           - Áp dụng được framework để thực hiện thiết kế giao diện )</a>


                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Front-EndAdvanced
    </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">1. Tự tin nói về các khái niệm quan trọng trong angular
                           2. Giải mã phỏng vấn về Angular
                           3. Giải quyết các bug và issue phổ biến nhất trong các ứng dụng Angular
                           4. Bảo mật các ứng dụng Angular bằng JWT Authentication
                           5. Tạo Unit test cases cho các ứng dụng Angular
                           6. Tạo ứng dụng Angular từ Scratch và phát triển ứng dụng
                           7. Tạo Structure của ứng dụng Angular với inclus-try
                           8. kết nối Angular với bất kỳ công nghệ phát triển Serve nào (ASP.net , Core MVC , NodeJS, Phython, Java etc),
                           để trở thành 1 Full-stack developer và có thể có cơ hội để phát triển trong ngành IT
                           9. Tạo Professonal Dashboard với ease
                           (-Nâng cao kỹ năng mềm cần thiết
                           -Có khả năng teamwork)</a>


                    </div>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MOCK
           Project
  </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">- Phát triển dự án theo các mô
                           hình ứng dụng Aglie/WaterFall
                           - Tham gia các dự án  thực tế theo nhóm
                           - Áp dụng thành thạo các  quy trình,template cơ bản  đạt chuẩn CMMI, ISO
                           - Trực tiếp từng bước phát triển  dự án theo chuẩn quốc tế
                           - Đáp ứng các yêu cầu khắt khe  của một sản phẩm thật sự
                           - Bảo vệ dự án với sản phẩm  thực tế  với các PM  và phỏng vấn làm việc</a>


                    </div>
                </div>

            </div> -->





        <!--

        <button type="button" style="background-color:yellow; font-size: 20px; font-weight: normal;text-shadow: black 0.1em 0.1em 0.2em;width: 200px; " class="btn btn-primary rounded-0 " data-toggle="modal" data-target="#exampleModalLong">
  Xem Chi Tiết
</button>





        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog float-sm-left" role="document">
                <div class="modal-content w-auto">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Xem Chi Tiết</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead class="thead-blue" style="color:white">
                                <tr class="bg-primary">
                                    <th scope="col">Career Orientation</th>
                                    <th scope="col">Database System</th>
                                    <th scope="col">BackEnd - Basic</th>
                                    <th scope="col">BackEnd - Advanced</th>
                                    <th scope="col">FrontEnd - Basic</th>
                                    <th scope="col">FrontEnd - Advanced</th>
                                    <th scope="col">MOCK Project</th>
                                </tr>
                            </thead>
                            <tbody style="background-color: rgb(253, 253, 253);">
                                <tr>
                                    <th scope="row">- Định hướng phát triển và cơ hội nghề nghiệp
                                         -Giới thiệu về kiến thức doanh nghiệp CNTT
                                        - Khung Chương Trình theo tiêu chuẩn doanh nghiệp</th>
                                    <td>1.Định nghĩa về Data cơ bản, luồng điều khiển và thao tác cơ sở dữ liệu trong SQL
                                         - Hiểu được các khái niệm cơ bản về Database(DBMS,RDBMS, ERD) -
                                         Có thể đọc hiểu thiết kế Database,
                                         câu lệnh query SQL - Tránh được các lỗi thiết kế chung và áp dụng 1 vài tip để nâng cao hiệu năng của câu query SQL
                                         2. Câu lệnh DML nâng cao
                                         - UNION, CASE, JOIN, Sub Queriese và các tính năng mới của SQL Serve , My SQL
                                         - Thực hành viết câu lệnh SQL
                                         3. Lập trình SQL với stored procedures, functions, triggers
                                         4.Review các chủ đề đã học & Final Test</td>
                                    <td> <em style="color: blue;"> JAVA CORE</em>
                                         1.Các kỹ thuật lập trình Java cơ bản
                                         Các kiểu dữ liệu, các luồng điều khiển (for, while, if else, switch case, break, continue), static
                                         2. OOP trong Java(4 tính chất OOP, các phạm vi truy cập, class, inner class, )
                                         3.Collection & generic
                                         4. Xử lí Exception & các class Utility
                                         5. Làm việc với File
                                         6. Kết nối với Database + Java Code Review
                                         7. Tìm hiểu về Maven
                                         8.Review các chủ đề đã học & Final Exam</td>
                                    <td><em style=" color: blue; ">JAVA WEB</em>
                                         1. Servelet & JSP , MVC & JSP Models
                                         Tìm hiểu Architecture của ServeLet và thiết kế website thông qua ServeLet & JSP
                                         2. Spring MVC
                                         Tối ưu website với Spring MVC
                                         3.Spring Boot (JPA, Rest, API...)
                                         Học sử dụng các framework thông dụng trong làm việc với SpringBoot và JPA
                                         Thiết kế Restful API
                                         Automated Unit Testing với Junit
                                         5. Review các chủ đề đã học và Final Exam</td>
                                    <td>1. Bạn sẽ thấy quá trình phát triển Web hoàn chỉnh từ dự án Bắt Đầu đến kết thúc ...
                                         2.HTML5, CSS3, JQuery, và bootstrap Framework
                                         Bạn sẽ học được các cách code mới và áp dụng các tips & tricks và thực hành để phát triển 1 website
                                         Bạn có thể xây dụng được trang web responsive phù hợp với tất cả các màn hình
                                         5. Bạn sẽ học về CSS3 Media Queriese áp dụng vào thiết kế responsive cho website
                                         Bạn sẽ hoàn thành Source Code cho responsive website.
                                         (-Xây dựng User Inter - Face trong dự án
                                         - Ứng dụng HTML5 , CSS3, JavaScript, Jquery, Ajax, vào tạo giao diện website
                                         - Áp dụng được framework để thực hiện thiết kế giao diện )</td>
                                    <td>1. Tự tin nói về các khái niệm quan trọng trong angular
                                         2. Giải mã phỏng vấn về Angular
                                         3. Giải quyết các bug và issue phổ biến nhất trong các ứng dụng Angular
                                         4. Bảo mật các ứng dụng Angular bằng JWT Authentication
                                         5. Tạo Unit test cases cho các ứng dụng Angular
                                         6. Tạo ứng dụng Angular từ Scratch và phát triển ứng dụng
                                         7. Tạo Structure của ứng dụng Angular với inclus-try
                                         8. kết nối Angular với bất kỳ công nghệ phát triển Serve nào (ASP.net , Core MVC , NodeJS, Phython, Java etc),
                                         để trở thành 1 Full-stack developer và có thể có cơ hội để phát triển trong ngành IT
                                         9. Tạo Professonal Dashboard với ease
                                         (-Nâng cao kỹ năng mềm cần thiết
                                         -Có khả năng teamwork)</td>
                                    <td>- Phát triển dự án theo các mô hình ứng dụng Aglie/WaterFall
                                         - Tham gia các dự án thực tế theo nhóm
                                         - Áp dụng thành thạo các quy trình, template cơ bản đạt chuẩn CMMI, ISO
                                         - Trực tiếp từng bước phát triển dự án theo chuẩn quốc tế
                                         - Đáp ứng các yêu cầu khắt khe của một sản phẩm thật sự
                                         - Bảo vệ dự án với sản phẩm thực tế với các PM và phỏng vấn làm việc</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div> -->



    </div>

</div>


<!-- <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Action
</button>
  <div class="dropdown-menu">
      <a class="dropdown-item" href="#">- Định hướng phát triển và cơ hội nghề nghiệp
         -Giới thiệu về kiến thức doanh nghiệp CNTT
        - Khung Chương Trình theo tiêu chuẩn doanh nghiệp</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div> -->
