<div class="jumbotron-fluid text-center seven" id="seven">
    <div style="background-color:#0e3959;">
        <br>
        <h2 style="color: #FFFF00;  font-size:xx-large; text-align: center;">HOẠT ĐỘNG CỦA LỚP HỌC</h2>
        <br>
        <div style="margin-bottom:40px" class="container">
            <div class="fx2">

                <a href="#">
                    <div class="item col4">
                        <img class="transition img-responsive" src="./assets/img/class/1.jpg">

                    </div>
                </a>
                <a href="#">
                    <div class="item col4">
                        <img class="transition img-responsive" src="./assets/img/class/2.jpg">

                    </div>
                </a>
                <a href="#">
                    <div class="item col4">
                        <img class="transition img-responsive" src="./assets/img/class/3.jpg">

                    </div>
                </a>

            </div>
            <div class="fx2">

                <a href="#">
                    <div class="item col4">
                        <img class="transition img-responsive" src="./assets/img/class/4.jpg">

                    </div>
                </a>
                <a href="#">
                    <div class="item col4">
                        <img class="transition img-responsive" src="./assets/img/class/5.jpg">

                    </div>
                </a>
                <a href="#">
                    <div class="item col4">
                        <img class="transition img-responsive" src="./assets/img/class/6.jpg">

                    </div>
                </a>

            </div>
        </div>
        <br>
    </div>

</div>
