@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import url('https://fonts.googleapis.com/css?family=Raleway|Rozha+One');
.seven {
    background: #0e3959;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0e3959, #0e3959);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0e3959, #0e3959);
    height: 750px;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.col4 {
    width: 33.33333333%;
    float: left;
    position: relative;
}

.transition {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

body .container {
    width: 70%;
    margin: 0 auto;
}

.fx1 .item,
.fx2 .item,
.fx3 .item,
.fx4 .item,
.fx5 .item {
    margin: 10px 0;
}


/* active on focus for accessibility tab navigation */

.fx1 .item {
    padding: 0;
}

.fx1 .item img {
    padding: 0 !important;
    display: block;
    max-width: 100%;
    height: auto;
}

.fx1 a:hover .item img,
.fx1 a:focus .item img {
    opacity: 0.8;
}

.fx1 h4,
.fx1 p {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.fx1 a .item h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
}

.fx1 a:hover .item h4,
.fx1 a:focus .item h4 {
    opacity: 1;
}

.fx1 a .item p {
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
}

.fx1 a:hover .item p,
.fx1 a:focus .item p {
    opacity: 1;
}

.fx2 .item {
    padding: 0;
}

.fx2 .item img {
    padding: 0 !important;
    display: block;
    max-width: 100%;
    height: auto;
}

.fx2 a:hover .item img,
.fx2 a:focus .item img {
    opacity: 0.9;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.fx2 h4,
.fx2 p,
.fx2 span {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.fx2 a .item h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
}

.fx2 a:hover .item h4,
.fx2 a:focus .item h4 {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
}

.fx2 a .item p {
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 53%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
}

.fx2 a:hover .item p,
.fx2 a:focus .item p {
    opacity: 1;
}

.fx3 .item {
    padding: 0;
}

.fx3 .item img {
    padding: 0 !important;
    display: block;
    max-width: 100%;
    height: auto;
    outline: transparent solid 2px;
    outline-offset: 0px;
}

.fx3 a:hover .item img,
.fx3 a:focus .item img {
    opacity: 0.8;
    outline: #fff solid 2px;
    outline-offset: -10px;
}

.fx3 h4,
.fx3 p {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.fx3 a .item h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
}

.fx3 a:hover .item h4,
.fx3 a:focus .item h4 {
    opacity: 1;
}

.fx3 a .item p {
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
}

.fx3 a:hover .item p,
.fx3 a:focus .item p {
    opacity: 1;
}

.fx5 .item {
    padding: 0;
}

.fx5 .item img {
    padding: 0 !important;
    display: block;
    max-width: 100%;
    height: auto;
}

.fx5 a:hover .item img,
.fx5 a:focus .item img {
    opacity: 0.8;
}

.fx5 h4,
.fx5 p {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.fx5 a .item h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #b5b5b5;
    padding: 5px 10px;
    position: absolute;
    bottom: 10%;
    left: 0%;
    opacity: 0;
}

.fx5 a:hover .item h4,
.fx5 a:focus .item h4 {
    opacity: 1;
    left: 10%;
}

.fx5 a .item p {
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #b5b5b5;
    padding: 5px 10px;
    position: absolute;
    bottom: 7%;
    left: 0%;
    opacity: 0;
}

.fx5 a:hover .item p,
.fx5 a:focus .item p {
    opacity: 1;
    left: 10%;
}

@media screen and (max-width: 991px) {
    .col4 {
        width: 50%;
    }
    .fx5 a .item h4 {
        font-size: 13px;
    }
}

@media screen and (max-width: 580px) {
    .col4 {
        width: 100%;
    }
}

@media only screen and (width: 414px) {
    h2 {
        font-size: 14px!important;
    }
    #seven {
        height: 1900px;
    }
}

@media only screen and (width: 375px) {
    h2 {
        font-size: 14px!important;
    }
    #seven {
        height: 1700px;
    }
}

@media only screen and (width: 600px) {
    h2 {
        font-size: 14px!important;
    }
    #seven {
        height: 750px;
    }
}

@media only screen and (width: 768px) {
    h2 {
        font-size: 16px!important;
    }
    #seven {
        height: 950px;
    }
}

@media only screen and (width: 1024px) {
    h2 {
        font-size: 18px!important;
    }
    #seven {
        height: 650px;
    }
}
