<div style="margin-top:150px" class="jumbotron-fluid text-center one" id="one">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/img/banner/php.jpg" class="d-block w-100" alt="Los Angeles" width="1100" height="500">
                <div class="carousel-caption">
                  <div class="container-fluid text-right">
                    <div class="row">
                        <div class="col-sm-11">
                            <a href="#eight"><button  class="btn btn-dark">Đăng Ký Ngay</button></a>
                        </div>
                    </div>
                </div>

                </div>
            </div>

        </div>
    </div>
    <div class="marquee">
        <div class="marquee__item">
            <i class="fas fa-map-marker-alt"></i> Tầng 7 Số 19 - Lê Thanh Nghị - Hai Bà Trưng - Hà Nội &nbsp; &nbsp; <i class="fas fa-phone-alt"></i> 0868.359.388

            <span class="marquee__seperator">|</span> <i class="fas fa-map-marker-alt"></i>&nbsp; Tầng 6 - Tòa nhà AC - Số 78 - Duy Tân - Cầu Giấy - Hà Nội&nbsp; &nbsp; <i class="fas fa-phone-alt"></i>&nbsp; 0866.805.563


            <span class="marquee__seperator">|</span>
        </div>
        <div class="marquee__item">
            <i class="fas fa-map-marker-alt"></i> Tầng 7 Số 19 - Lê Thanh Nghị - Hai Bà Trưng - Hà Nội &nbsp; <i class="fas fa-phone-alt"></i> 0865.359.388

            <span class="marquee__seperator">|</span> <i class="fas fa-map-marker-alt"></i>&nbsp; Tầng 6 - Tòa nhà AC - Số 78 - Duy Tân - Cầu Giấy - Hà Nội&nbsp;&nbsp; <i class="fas fa-phone-alt"></i>&nbsp; 0866.805.563


            <span class="marquee__seperator">|</span>
        </div>
    </div>
    <!-- <marquee><i class="fas fa-map-marker-alt"></i> Tầng 7 Số 19 - Lê Thanh Nghị - Hai Bà Trưng - Hà Nội&nbsp; <i class="fas fa-phone-alt"></i>&nbsp; 0865. 359. 388 &nbsp; |&nbsp; <i class="fas fa-map-marker-alt"></i>&nbsp; Tầng 6 - Tòa nhà AC - Số 78 - Duy Tân
        - Cầu Giấy - Hà Nội &nbsp; <i class="fas fa-phone-alt"></i>&nbsp; 0243 3668 8599 </marquee> -->

</div>
