<div class="jumbotron-fluid text-center six" id="six">
    <h2 style="font-size: xx-large; text-align: center;color: #0f355a;font-weight: bolder;">HỌC VIÊN CHIA SẺ</h2>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-4 centered">
                <img width="200" height="200" src="./assets/img/team/8.jpg" style="border-radius: 100px;" alt="...">
                <h3>CAO THỊ THU THẢO</h3>
                <h5>Sinh Viên Trường Kinh Tế Quốc Dân</h5>
                <p>"Mình có thể tự tin với vai trò lập trình viên như bây giờ là nhờ có VTI Academy, không chỉ đào tạo kiến thức IT chuẩn mà các kĩ năng mềm như teamwork hay interview cũng rất chất lượng."</p>
            </div>
            <div class="col-sm-4 centered">
                <img width="200" height="200" src="./assets/img/team/7.jpg" style="border-radius: 100px;" alt="...">
                <h3>NGUYỄN MẠNH HÙNG</h3>
                <h5>Sinh Viên Trường Kinh Tế Quốc Dân</h5>
                <p>"Trước khi đăng kí học mình đã tìm hiểu về VTI Academy và thực sự ấn tượng bởi chương trình cũng như kiến thức chuẩn doanh nghiệp đây đúng là điềumình tìm kiếm bấy lâu nay vì mình rất muốn được đi làm sớm"</p>
            </div>
            <div class="col-sm-4 centered">
                <img width="200" height="200" src="./assets/img/team/9.jpg" style="border-radius: 100px;" alt="...">
                <h3>LẠI TUẤN ĐẠT</h3>
                <h5>Sinh Viên ĐH Kinh doanh và công nghệ </h5>
                <p>"Mình đã rất ấn tượng với chương trình đào tạo kiến thức IT chuẩn doanh nghiệp cũng như lộ trình học và được cam kết việc làm. Vì thế mà mình quyết định đăng kí trở thành học viên ngay."</p>
            </div>
        </div>
    </div>
</div>
