<div class="container-fluid jumbotron-fluid text-center three" id="three">

    <div style="background-image: url('https://cdn.dribbble.com/users/2639810/screenshots/11471430/media/cf097aeabc8eeb629c0d8e6f3269668a.jpg');">
        <br>
        <h2>TẠI SAO LỰA CHỌN CHÚNG TÔI</h2>
        <br>
        <div class="container pb-5 ">
            <div class="row">
                <div class="col col1">
                    <p id="glow">Chương Trình Đào Tạo <em>CHUẨN </em> <br>Doanh Nghiệp<br> CNTT</p>
                </div>
                <div class="col col2">
                    <p id="glow">200 Giờ Học <em>OFFLINE </em> & Học <em>ONLINE</em> Mọi Lúc Mọi Nơi</p>
                </div>
                <div class="col col3">
                    <p id="glow"><em>MENTOR</em>
                        <br> Thực Chiến<br> Cầm Tay <br>Chỉ Việc</p>
                </div>
                <div class="col col4">
                    <p id="glow">Tham Gia<br> Dự Án<br> Tập Trận
                        <br><em>MOCK PROJECT</em></p>
                </div>
                <div class="col col5">
                    <p id="glow"><em>CAM KẾT</em> Làm Việc Ngay Với Mức Thu Nhập Từ <em>8-12 TRIỆU</em></p>
                </div>
            </div>
        </div>

    </div>







</div>
